.bgContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.subContainer {
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.BtnCSS {
  background-color: white;
  border-radius: 6px;
  border: none;
  padding: 10px;
  min-width: 10%;
  max-width: 15%;
  color: black;
  font-size: 10px;
  cursor: pointer;
  font-family: 'Roboto';
}
.paragraph2 {
  font-family: 'Roboto';
  font-size: 12px;
}
